---

name: Bump version
on:
  workflow_call:
    inputs:
      release_branches:
        type: string
        default: develop
        required: false
      pre_release_branches:
        type: string
        default: release.*
        required: false
      tag_prefix:
        type: string
        default: v
        required: false
      default_prerelease_bump:
        type: string
        default: prerelease
        required: false
    secrets:
      my_github_token:
        required: true
jobs:
  bump:
    name: Bump version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.my_github_token }}
          release_branches: ${{ inputs.release_branches }}
          pre_release_branches: ${{ inputs.pre_release_branches }}
          default_prerelease_bump: ${{ inputs.default_prerelease_bump }}
          tag_prefix: ${{ inputs.tag_prefix }}
