---

name: Release helm chart to s3 bucket
on:
  workflow_call:
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      aws_region:
        required: true
      helm_repo:
        required: true
jobs:
  release:
    name: Release helm chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.2
      - name: Install helm s3 plugin
        shell: bash
        run: |
          helm plugin install https://github.com/hypnoglow/helm-s3.git --version 0.10.0
      - name: Package helm chart
        shell: bash
        run: |
          helm package ./ --dependency-update --destination .release/ --version $(git describe --tag)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ secrets.aws_region }}
      - name: Push helm chart
        shell: bash
        run: |
          helm repo add repo "$REPO"
          helm s3 push --force ".release/$(ls .release | head -n 1)" repo
        env:
          REPO: ${{ secrets.helm_repo }}
