---

name: Release helm chart to s3 bucket
on:
  workflow_call:
    secrets:
      github_token:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      aws_region:
        required: true
      helm_repo:
        required: true
jobs:
  release:
    name: Release helm chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ secrets.aws_region }}
      - name: Helm release
        uses: shellbear/helm-release-action@v0.1
        with:
          repo: ${{ secrets.helm_repo }}
          chart: ./
